*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
provider.tf
.terragrunt-cache/
**/.terragrunt-cache/
.aws/
.aws/*
.devcontainer/.devcontainer.json
.devcontainer/devcontainer.*.json
**/.devcontainer/Dockerfile.local
**/.devcontainer/Dockerfile.temp
**/.devcontainer/tmp/
**/.devcontainer/.cache/
**/.devcontainer/.docker/
*.log
*.bak
*.swp
*.tmp
.env
.env.*
.vscode/
.idea/
__pycache__/
node_modules/