# --------------------------
# Terraform
# --------------------------
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
provider.tf

# --------------------------
# Terragrunt
# --------------------------
.terragrunt-cache/
**/.terragrunt-cache/

# --------------------------
# AWS CLI Credentials (just in case)
# --------------------------
.aws/
.aws/*

# --------------------------
# Dev Container stuff
# --------------------------
.devcontainer/.devcontainer.json
.devcontainer/devcontainer.*.json
**/.devcontainer/Dockerfile.local
**/.devcontainer/Dockerfile.temp
**/.devcontainer/tmp/
**/.devcontainer/.cache/
**/.devcontainer/.docker/

# --------------------------
# Local tooling / environment
# --------------------------
*.log
*.bak
*.swp
*.tmp
.env
.env.*
.vscode/
.idea/

# --------------------------
# Python
# --------------------------
__pycache__/
