name: security

on:
  pull_request:
    branches: [main]
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  checkov:
    uses: amcaughan/shared_workflows/.github/workflows/scan-checkov.yml@ac4f8076d1a19c86d2c07ed5ce1cbcabd4d44c60
    with:
      artifact_name: sarif-checkov
      sarif_filename: checkov.sarif
      scan_path: .

  trivy:
    uses: amcaughan/shared_workflows/.github/workflows/scan-trivy.yml@ac4f8076d1a19c86d2c07ed5ce1cbcabd4d44c60
    with:
      artifact_name: sarif-trivy
      sarif_filename: trivy.sarif
      scan_path: .
      scanners: vuln,license

  gitleaks:
    uses: amcaughan/shared_workflows/.github/workflows/scan-gitleaks.yml@ac4f8076d1a19c86d2c07ed5ce1cbcabd4d44c60
    with:
      artifact_name: sarif-gitleaks
      sarif_filename: gitleaks.sarif
      redact: true

  actionlint:
    uses: amcaughan/shared_workflows/.github/workflows/scan-actionlint.yml@ac4f8076d1a19c86d2c07ed5ce1cbcabd4d44c60
    with:
      artifact_name: sarif-actionlint
      sarif_filename: actionlint.sarif

  report:
    runs-on: ubuntu-latest
    needs: [checkov, trivy, gitleaks, actionlint]
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: sarif

      - uses: amcaughan/shared_workflows/.github/actions/sarif-report@ac4f8076d1a19c86d2c07ed5ce1cbcabd4d44c60
        with:
          title: "Repo security report"
          sarif_glob: "sarif/**/**/*.sarif"
          out_html: "out/security-report.html"

      - uses: actions/upload-artifact@v4
        with:
          name: security-report
          path: out/security-report.html
          retention-days: 14
